
.aboutSection {
     margin-top: 25px;
     .wrapper {     
          position: relative;
          margin: 0 auto 15px;
          &::before {
          content: "";
          border: 15px solid #303030;
          border-right: 15px solid transparent;
          border-bottom: 15px solid transparent;
          width: 0px;
          height: 0px;
          position: absolute;
          bottom: -15px;
          left: 50%;
          margin-left: -15px;
          transform: rotate(45deg);
     }

     }
     // h3 {
     //      font-size: 1.5rem;
     // }
     p {
          margin-bottom: 0;
     }
}

.aboutSection__content {
     display: flex;
     justify-content: space-between;
     div {
          border: none;
          padding: 5px;

     }
     .aboutSection__image {
          flex: 1 0 20%;
          &Container {
               border: 1px solid black;

          }
     }
     .aboutSection__text {
          flex: 0 1 79%;
          display: flex;
     }
}



@media (max-width: 1060px) {
     .aboutSection__content {
          .aboutSection__image {
               flex: 0 0 25%;
          }
          .aboutSection__text {
          flex: 0 1 74%;
          }
     }

}
@media (max-width: 860px) {
     .aboutSection__content {
          .aboutSection__image {
               flex: 0 0 35%;
          }
          .aboutSection__text {
          flex: 0 1 64%;
          
          }
     }

}
@media (max-width: 600px) {
     .aboutSection__content {
          flex-direction: column;

          .aboutSection__image {
               display: none;
          }
          .aboutSection__text {
          flex: 0 1 64%;
          
          }
     }

}