footer {
     text-align: center;
     position: relative;
     .wrapper--wide {
          padding: 0;
     }

     &::before {
          content: "";
          border: 15px solid #303030;
          border-right: 15px solid transparent;
          border-bottom: 15px solid transparent;
          width: 0px;
          height: 0px;
          position: absolute;
          top: -14px;
          left: 50%;
          margin-left: -15px;
          transform: rotate(45deg);
     }
     .copyright{
          padding: 10px;
          background: rgba(0, 0, 0, 0.2);
     }

     .socials--footer {
          width: 50%;
          display: flex;
          justify-content: center;
          margin: 20px auto 50px;
          text-align: center;
          font-size: 2rem;
          .socialsList__item {
               margin: 0 10px;
          }
     }
}

