/* Setup Snippet, general styling*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  background: black;
  overflow-x: hidden; }

img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(10);
  filter: grayscale(10);
  display: block; }

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -100;
  top: 0;
  bottom: 0px;
  left: 0; }

a {
  text-decoration: none; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

div {
  padding: 5px; }

h1, h2, h3, h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0;
  margin: 0; }

h3 {
  font-size: 1.5rem; }

footer {
  color: white; }

.wrapper {
  padding: 50px 50px 100px;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  background: #ffffff; }

.wrapper--dark {
  padding: 50px 0;
  width: 90%;
  max-width: 1080px;
  margin: 25px auto;
  color: white; }

.portfolioSection {
  background: #ffffff; }

.wrapper--wide {
  padding: 50px 0 100px;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto; }

li {
  margin: 0; }

@media (max-width: 700px) {
  .wrapper {
    padding: 25px 25px 50px;
    width: 95%;
    margin: 0 auto; }
  .wrapper--dark {
    width: 95%;
    padding: 25px 0;
    margin: 25px auto; }
  .wrapper--wide {
    width: 100%; } }

.logo {
  border: 2px solid white;
  display: inline-block;
  padding: 1px 7px;
  letter-spacing: 4px;
  font-size: 1.4rem;
  color: white; }
  .logo--large {
    border: 5px solid white;
    -webkit-box-shadow: 0 0 20px rgba(139, 139, 139, 0.7), inset 0 0 20px rgba(139, 139, 139, 0.7);
    box-shadow: 0 0 20px rgba(139, 139, 139, 0.7), inset 0 0 20px rgba(139, 139, 139, 0.7);
    padding: 20px;
    font-size: 8rem;
    margin: 0 auto; }
  .logo--medium {
    border: 3px solid white;
    -webkit-box-shadow: 0 0 20px rgba(139, 139, 139, 0.7), inset 0 0 20px rgba(139, 139, 139, 0.7);
    box-shadow: 0 0 20px rgba(139, 139, 139, 0.7), inset 0 0 20px rgba(139, 139, 139, 0.7);
    padding: 10px;
    font-size: 4rem;
    display: inline-block;
    margin: 50px auto; }

.wrapper--dark .sectionTitle__container {
  border: 2px solid white; }

.wrapper--dark .sectionTitle__iconContainer {
  border-left: 2px solid white; }

.sectionTitle {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .sectionTitle__container {
    border: 2px solid black;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .sectionTitle__text {
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
    display: inline-block; }
  .sectionTitle__iconContainer {
    padding: 5px 10px;
    display: inline-block;
    border: none;
    border-left: 2px solid black; }
  .sectionTitle .sectionTitle__icon {
    border: 1px solid transparent;
    font-size: 1.4rem;
    padding: 0; }

@media (max-width: 400px) {
  .sectionTitle__text {
    font-size: 1.5rem;
    padding: 0 10px; } }

header {
  height: 100vh;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header {
  border: none;
  text-align: center;
  padding-top: 200px;
  color: white;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }

.navBar {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px; }
  .navBar div, .navBar ul {
    border: none;
    padding: 0px; }
  .navBar .wrapper--wide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.logoContainer {
  width: 25%; }

.nav {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30px;
  flex: 1 0 30px;
  text-transform: uppercase; }
  .navList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .navList__link {
      display: block;
      padding: 5px 10px;
      font-size: 1.3rem;
      color: white;
      height: 100%; }

.socials {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.socialsList {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .socialsList__item {
    max-width: 18px;
    margin: 0 3px;
    padding: 0 2px; }
  .socialsList__item:last-child {
    margin-right: 0; }
  .socialsList__link {
    color: white; }
  .socialsList svg {
    max-width: 100%; }

@media (max-width: 600px) {
  .socials {
    display: none; }
  .logoContainer {
    display: none; }
  .logo--large {
    font-size: 4.5rem; } }

.aboutSection {
  margin-top: 25px; }
  .aboutSection .wrapper {
    position: relative;
    margin: 0 auto 15px; }
    .aboutSection .wrapper::before {
      content: "";
      border: 15px solid #303030;
      border-right: 15px solid transparent;
      border-bottom: 15px solid transparent;
      width: 0px;
      height: 0px;
      position: absolute;
      bottom: -15px;
      left: 50%;
      margin-left: -15px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .aboutSection h3 {
    font-size: 1.5rem; }
  .aboutSection p {
    margin-bottom: 0; }

.aboutSection__top {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .aboutSection__top .aboutSection__imageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .aboutSection__top img {
    width: 50%; }

.aboutSection__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .aboutSection__content div {
    border: none;
    padding: 5px; }
  .aboutSection__content .aboutSection__image {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 20%;
    flex: 1 0 20%; }
    .aboutSection__content .aboutSection__imageContainer {
      border: 1px solid black; }
  .aboutSection__content .aboutSection__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 79%;
    flex: 0 1 79%;
    font-size: 1.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

@media (max-width: 1060px) {
  .aboutSection__content .aboutSection__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%; } }

.flickity-button {
  display: none; }

.flickity-page-dots {
  bottom: 0px; }

.main-carousel {
  overflow: hidden; }

.carousel-cell {
  width: 100%;
  height: 125px; }

.statsSection .wrapper--dark, .reviewSection .wrapper--dark {
  background: rgba(0, 0, 0, 0.2); }

.statsSection__skills {
  padding: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%; }
  .statsSection__skills .statsSection__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .statsSection__skills .skill {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    padding: 0;
    padding-top: 5px;
    margin: 10px; }
    .statsSection__skills .skill__text {
      text-transform: uppercase;
      border: none;
      font-size: 1.4rem;
      line-height: 2rem;
      margin: 0; }
    .statsSection__skills .skill__iconContainer {
      margin-bottom: 10px;
      border: 1px solid white;
      width: 35px;
      height: 35px;
      padding: 9px 0px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
      .statsSection__skills .skill__iconContainer i {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        color: white;
        font-size: 1.6rem;
        width: 35px;
        text-align: center; }

@media (max-width: 740px) {
  .statsSection__skills .statsSection__row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .statsSection__skills .skill {
    width: 30%;
    margin: 0; }
    .statsSection__skills .skill__text {
      font-size: 1.2rem; } }

@media (max-width: 550px) {
  .statsSection__skills .statsSection__row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .statsSection__skills .skill__text {
    font-size: 1.1rem;
    text-align: center; }
  .statsSection__skills .skill span {
    display: block; } }

.portfolioSection {
  background: white; }
  .portfolioSection .wrapper--wide {
    position: relative; }
    .portfolioSection .wrapper--wide::before {
      content: "";
      border: 15px solid #303030;
      border-right: 15px solid transparent;
      border-bottom: 15px solid transparent;
      width: 0px;
      height: 0px;
      position: absolute;
      bottom: -15px;
      left: 50%;
      margin-left: -15px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

.portfolioProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90%;
  margin: 50px auto; }
  .portfolioProject__imgSide {
    width: 38%;
    border: 1px solid black; }
    .portfolioProject__imgSide .portfolioProject__img {
      border: 1px solid black; }
  .portfolioProject__info {
    width: 60%; }
  .portfolioProject__caption p {
    margin: 0;
    text-transform: uppercase; }
  .portfolioProject__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0; }
  .portfolioProject__button {
    display: block;
    width: 75px;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    margin-right: 10px;
    color: black;
    text-transform: uppercase; }

.portfolioProject--middle {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

@media (max-width: 690px) {
  .portfolioProject__imgSide {
    width: 55%; }
  .portfolioProject__info {
    width: 43%; } }

@media (max-width: 630px) {
  .portfolioProject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .portfolioProject__imgSide {
      width: 100%; }
    .portfolioProject__info {
      width: 100%; } }

.reviewSection__content {
  text-align: center;
  width: 100%;
  height: 125%; }

.flickity-viewport {
  overflow: hidden;
  padding: 0;
  height: 170px; }

.flickity-slider {
  padding: 0; }

.reviewSection .sectionTitle {
  margin: 20px; }

@media (max-width: 400px) {
  .flickity-viewport {
    overflow: hidden;
    padding: 0;
    height: 175px; }
  .reviewSection__content p {
    margin-top: 0; }
  .reviewSection__content h3 {
    font-size: 1.4rem; } }

input, textarea {
  display: block;
  resize: none; }

.contactSection__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .contactSection__content h3 {
    margin-bottom: 25px; }

.contactSection__contactForm {
  margin-right: 20px;
  width: 50%; }
  .contactSection__contactForm .smallInput {
    height: 30px;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black; }
    .contactSection__contactForm .smallInput--submit {
      margin: 10px 0;
      height: 30px;
      border: none;
      background: black;
      color: white;
      text-transform: uppercase;
      font-size: 1.4rem; }
  .contactSection__contactForm .largeInput {
    border: 1px solid black;
    height: 155px;
    padding: 10px;
    width: 100%; }

.contactSection__info {
  width: 50%; }
  .contactSection__info .contactSection__contactList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.contactMethod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 15px; }
  .contactMethod__text {
    margin-left: 10px; }
  .contactMethod__icon {
    margin-left: 5px;
    width: 25px;
    height: 25px;
    padding: 2px 7px;
    padding-left: 6px;
    background: black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
    .contactMethod__icon i {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      color: white;
      font-size: 1.2rem; }
  .contactMethod p {
    margin: 0; }
  .contactMethod a {
    color: black; }

@media (max-width: 800px) {
  .contactSection__contactForm {
    width: 100%; }
  .contactSection__info {
    width: 100%; }
    .contactSection__info .contactSection__contactList {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .contactSection__info .contactSection__contactList .website {
        display: none; }
  .contactSection__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .contactMethod {
    width: 100%; }
    .contactMethod__text {
      font-size: 1.2rem; } }

@media (max-width: 650px) {
  .contactRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .contactSection__info .contactSection__contactList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 490px) {
  .mobileGo {
    display: none; } }

footer {
  text-align: center;
  position: relative; }
  footer .wrapper--wide {
    padding: 0; }
  footer::before {
    content: "";
    border: 15px solid #303030;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -15px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  footer .copyright {
    padding: 10px;
    background: rgba(0, 0, 0, 0.2); }
